[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "implot"]
	path = external/implot
	url = https://github.com/epezent/implot
